<ng-container  *ngIf="event">
  <div class="content">
    <div class="header">{{event.title}}</div>
    <div class="meta">
      <span class="category">{{event.venue}}</span>
    </div>
    <div class="description">
      <img src="../../../assets/images/paragraph.png" class="ui wireframe image" alt="">
    </div>
  </div>
  <div class="extra content">
    <div class="right floated author">
      <img src="../../../assets/images/square-image.png" class="ui avatar image" alt="">
      <img src="../../../assets/images/square-image.png" class="ui avatar image" alt="">
    </div>
  </div>
</ng-container>
