<ng-container *ngIf="event">
  <div class="content">
    <div class="description">
      <img src="../../assets/images/paragraph.png" class="ui wireframe image" alt="">
      <h5>{{event.title | truncate:[16] }}</h5>
      <span class="category">{{event.venue}}</span>
    </div>
  </div>
  <div class="extra content">
    <div class="left floated author">
      <img src="../../../assets/images/square-image.png" class="ui avatar image" alt="">
      <img src="../../../assets/images/square-image.png" class="ui avatar image" alt="">
    </div>
  </div>
</ng-container>
