<div class="ui basic segment"
     [class.loading]="(creatorStore$ | async)?.loading">
  
  <div class="header">Choose more info about your event</div>
  <div class="content">
    <div class="ui section padded">
      
      <div class="ui hidden divider"></div>
      
      <form class="ui form" [formGroup]="moreInfoForm">
        
        <div class="field">
          <label>Vanue</label>
          <input type="text"
                 formControlName="venue"
                 placeholder="e.g. Guitar club ">
        </div>
        
        <div class="field">
          <div class="fields">
            <div class="six wide field">
              <label>Location</label>
              <sui-select placeholder="Choose city"
                          class="ui selection fluid"
                          formControlName="location">
                <sui-select-option *ngFor="let loc of locations"
                                   [value]="loc.name"></sui-select-option>
              </sui-select>
            </div>
            <div class="ten wide field">
              <label>Address</label>
              <input type="text"
                     formControlName="address"
                     placeholder="e.g. Marszałkowska 31A/12">
            </div>
          </div>
        </div>
        
        <div class="field">
          <label>Event website</label>
          <div class="ui labeled input">
            <div class="ui label">www</div>
            <input type="text"
                   formControlName="website"
                   placeholder="mysite.com">
          </div>
        </div>
      </form>
      <div class="ui hidden divider"></div>
    
    </div>
  </div>
  <div class="actions">
    <div class="ui red basic cancel button" (click)="onBack()">
      <i class="remove icon"></i>Back
    </div>
    <div class="ui green ok button" (click)="onNext()">
      <i class="checkmark icon"></i>Next
    </div>
  </div>

</div>
