<ng-template let-context let-modal="modal" #modalTemplate>
  <div class="header">Log in</div>
  <div class="content">
   <div class="ui section padded">
     <div class="ui basic fluid segment">
      
       
       <button class="ui primary fluid button"
               [class.loading]="(user$|async)?.loading"
               (click)="loginGoogle()">
         <i class="google icon"></i>
         Google login
       </button>
    
       <div class="ui hidden divider"></div>
    
    
       <button class="ui basic disabled fluid button">
         <i class="facebook f icon"></i>
         Facebook login
       </button>
     </div>
  
     <div class="ui divider"></div>
     
     <div class="ui basic fluid segment">
       <form class="ui form centered">
         <div class="field">
           <label>First Name</label>
           <input type="text" name="first-name" placeholder="First Name">
         </div>
         <div class="field">
           <label>Last Name</label>
           <input type="text" name="last-name" placeholder="Last Name">
         </div>
         <button class="ui positive button submit-button" type="submit">Submit</button>
       </form>
     </div>
     
     <!--<div class="ui basic fluid segment">-->
       <!--<p>Not have an account? </p>-->
       <!--<a >Create new account</a>-->
       <!---->
     <!--</div>-->
     
   </div>
   
  </div>
</ng-template>

<div class="ui basic button" (click)="open()">OPEN</div>

