<div class="filters">
  <div class="ui container">
    
    <div class="filters__city">
      
      <!--<div class="ui hidden divider"></div>-->
      <button class="ui violet button circular">All</button>
      <button class="ui button circular">Warsaw</button>
      <button class="ui button circular">Wroclaw</button>
      <button class="ui button circular">Gdansk</button>
      <button class="ui button circular">Cracow</button>
      <button class="ui button circular">Poznan</button>
    </div>
    
    <div class="filters__event-type">
      <button class="ui red button circular icon">
        <i class="music icon"></i>
      </button>
      <button class="ui orange button circular icon">
        <i class="graduation cap icon"></i>
      </button>
      <button class="ui yellow button circular icon">
        <i class="gamepad icon"></i>
      </button>
      <button class="ui olive button circular icon">
        <i class="birthday cake icon"></i>
      </button>
      <button class="ui green button circular icon">
        <i class="bicycle icon"></i>
      </button>
      <button class="ui teal  button circular icon">
        <i class="map signs icon"></i>
      </button>
      <button class="ui blue button circular icon">
        <i class="futbol icon"></i>
      </button>
      <button class="ui  violet button circular icon">
        <i class="flag checkered icon"></i>
      </button>
      <button class="ui  purple button circular icon">
        <i class="cake icon"></i>
      </button>
      <button class="ui  pink button circular icon">
        <i class="cake icon"></i>
      </button>
      <button class="ui  brown button circular icon">
        <i class="cake icon"></i>
      </button>
      <button class="ui  gery button circular icon">
        <i class="cake icon"></i>
      </button>
    </div>
  
  </div>
</div>
