.filters {
  background: #F3F6F8;
  min-height: 200px;
  padding-top: 40px;

  button {
    margin-right: 10px;
  }
}

.filters__event-type {
  padding-top: 20px;

  button {
    margin-right: 10px;
  }
}
