<ng-template let-context let-modal="modal" #modalTemplate>
  <div class="header">Add new event</div>
  <div class="content">
    <div class="ui section padded">
      
      <div class="ui hidden divider"></div>
      
      <div class="ui inverted transparent icon input fluid">
        <input type="text"
               placeholder="Type name..."
               autofocus>
        <!--<i class="inverted  plus icon"></i>-->
      </div>
      
      <div class="ui hidden divider"></div>
    
    </div>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>Cancel
    </div>
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>Next
    </div>
  </div>
</ng-template>
