<ng-template let-context let-modal="modal" #modalTemplate>
  <div class="header">Add new event</div>
  <div class="content">
    <div class="ui section padded">
      
      <div class="ui hidden divider"></div>
  
      <router-outlet></router-outlet>
      <div class="ui hidden divider"></div>
      
    </div>
  </div>
  <div class="actions">
    <div class="ui red basic cancel button" (click)="cancel()">
      <i class="remove icon"></i>Cancel
    </div>
    <div class="ui red basic cancel button" (click)="back()">
      <i class="remove icon"></i>Back
    </div>
    <div class="ui green ok button" (click)="next()">
      <i class="checkmark icon"></i>Next
    </div>
  </div>
</ng-template>
