<div class="ui container">
  <h1>Browse</h1>
</div>

<app-filters [locations]="locations$ | async"
             [categories]="categories$ | async"
             (filter)="onFilter($event)"></app-filters>

<ng-container *ngIf="!(loading$ | async); else loading">
  <app-events-list [events]="events$ | async"></app-events-list>
</ng-container>
<ng-template #loading>
  <div class="ui container">
    <div class="ui four column stackable grid">
      <div class="column">
        <div class="ui raised segment">
          <div class="ui placeholder">
            <div class="image header">
              <div class="line"></div>
              <div class="line"></div>
            </div>
            <div class="paragraph">
              <div class="medium line"></div>
              <div class="short line"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui raised segment">
          <div class="ui placeholder">
            <div class="image header">
              <div class="line"></div>
              <div class="line"></div>
            </div>
            <div class="paragraph">
              <div class="medium line"></div>
              <div class="short line"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui raised segment">
          <div class="ui placeholder">
            <div class="image header">
              <div class="line"></div>
              <div class="line"></div>
            </div>
            <div class="paragraph">
              <div class="medium line"></div>
              <div class="short line"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>


