@import "~ngx-smart-modal/ngx-smart-modal";


* {
  outline: none !important;
}


body {
  //overflow-y: scroll;
}

.ui.modal {
  margin-left: auto !important;
  margin-right: auto !important;
  left: 0 !important;
  right: 0 !important;
  top: 50% !important;
  border-radius: 16px !important;
  box-shadow: 0 2px 3px 0 rgba(60, 64, 67, .3), 0 6px 10px 4px rgba(60, 64, 67, .15) !important;

  .segment {
    border-radius: 16px !important;
    padding: 0 !important;
    border: none !important;
  }

  .header {
    padding: 1.8em 1.8em !important;
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
    background-color: #0f91ec !important;
    color: #fff !important;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
  }

  .content {
    padding: 1.8em 1.8em !important;
  }

  .actions {
    padding: 1.2em 1.2em !important;
    border-bottom-left-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
    display: flex;
    justify-content: flex-end;
  }

  .close.icon {
    color: #fff !important;
  }
}


.card {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1) !important;
  border: none !important;
  border-radius: 16px !important;
}

.card:hover {
  box-shadow: 0 0 64px rgba(0, 0, 0, 0.22) !important;
  cursor: pointer !important;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif !important;
  color: rgba(0, 0, 0, .7) !important;
}

h1 {
  font-weight: 700;
}


.card.red {
  background-color: rgba(219, 40, 40, .12) !important;
}

.card.orange {
  background-color: rgba(243, 114, 28, .12) !important;
}

.card.yellow {
  background-color: rgba(251, 189, 8, .12) !important;
}

.card.violet {
  background-color: rgba(100, 53, 201, .12) !important;
}

.card.olive {
  background-color: rgba(181, 204, 24, .12) !important;
}

.card.green {
  background-color: rgba(33, 186, 69, .12) !important;
}

.card.purple {
  background-color: rgba(163, 51, 200, .12) !important;
}

.card.blue {
  background-color: rgba(33, 133, 208, .12) !important;
}






