/* You can add global styles to this file, and also import other style files */


* {
  outline: none !important;
}


body {
  overflow-y: scroll;
}

.ui.modal {
  margin-left: auto !important;
  margin-right: auto !important;
  left: 0 !important;
  right: 0 !important;
  top: 50% !important;
  border-radius: 16px !important;
  box-shadow: 0 2px 3px 0 rgba(60, 64, 67, .3), 0 6px 10px 4px rgba(60, 64, 67, .15) !important;

  .segment {
    border-radius: 16px !important;
    padding: 0 !important;
    border: none !important;
  }

  .header {
    padding: 1.8em 1.8em !important;
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
    background-color: #0f91ec !important;
    color: #fff !important;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
  }

  .content {
    padding: 1.8em 1.8em !important;

    //input {
    //  font-size: 18px;
    //}
  }

  .actions {
    padding: 1.2em 1.2em !important;
    border-bottom-left-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
    display: flex;
    justify-content: flex-end;
  }

  .close.icon {
    color: #fff !important;
  }
}
