<div class="ui container">
  
  <h1>Events</h1>
  
  <div class="ui hidden divider"></div>
  
  <div class="sectionTitle">
    <h3 class="header">Top events</h3>
    <a href="" class="seeMore">
      <span>See more</span>
      <i class="icon angle right large"></i>
    </a>
  </div>
  
  <ng-container *ngIf="(events$ | async) as events; else noItems">
    <div class="ui six doubling cards topEvents">
      <app-event *ngFor="let event of events"
                 class="card"
                 [event]="event"
                 [routerLink]="['/event']"
                 [queryParams]="{title: event.title}">
      </app-event>
    </div>
  </ng-container>
  <ng-template #noItems>
    <div class="ui basic segment center aligned">
      <i class="frown outline icon"></i>
      <span> No events</span>
    </div>
  </ng-template>
  
  
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  
  
  <div class="sectionTitle">
    <h3 class="header">Top categories</h3>
    <a href="" class="seeMore">
      <span>See more</span>
      <i class="icon angle right large"></i>
    </a>
  </div>
  <div class="categories__container">
    <div class="categories">
      <div *ngFor="let category of categories$| async "
           [ngClass]="category.color"
           routerLink="/dashboard"
           [ngStyle]=" {'filter': 'alpha(opacity=20)'}"
           class="card">
        <div class="content">
          <div class="header">
            <i [ngClass]="[category.color, category.icon]"
               class="icon big"></i>
          </div>
          <div class="meta">{{category.name}}</div>
          <!--          <div class="description"></div>-->
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="ui hidden divider"></div>
  
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  
  <h3 class="header">Most popular paid events</h3>
  
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>

</div>


