.categories__container {
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent;
  }
}

.categories {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}


.card {
  margin-right: 25px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1) !important;
}

.content {
  padding: 50px 28px;

  .header {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }
}


h2 {
  font-weight: 700;
}


.ui.six.doubling.cards {
  justify-content: start;
  flex-wrap: nowrap;
}


.seeMore{
  display: flex;
  justify-content: flex-end;
}
