<app-login></app-login>

<div class="account">
  <div class="ui container">
    <img class="ui small circular image centered" src="../../assets/images/square-image.png" alt="">
    
    <h1 class="account__author-name">{{(user$ | async)?.displayName}}</h1>
    
    <div class="ui three item secondary menu">
      <a class="active item">Events</a>
      <a class="item">Reviews</a>
      <a class="item">Upcoming Events</a>
    </div>
    
    
    <div class="ui basic very padded segment ">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
