<div class="ui container">
  <h1>Settings</h1>
  <sui-accordion class="styled fluid">
    <sui-accordion-panel [isOpen]="true">
      <div title>
        <i class="dropdown icon"></i>
        General
      </div>
      <div content>
        <div class="item">
          <div class="right floated content">
            <div class="ui button">Add</div>
          </div>
          <div class="content">
            Lena
          </div>
        </div>
      </div>
    </sui-accordion-panel>
    <sui-accordion-panel>
      <div title>
        <i class="dropdown icon"></i>
        Email notifications
      </div>
      <div content>
        <p>Second panel content.</p>
      </div>
    </sui-accordion-panel>
    <sui-accordion-panel>
      <div title>
        <i class="dropdown icon"></i>
        Push notifications
      </div>
      <div content>
        <p>Second panel content.</p>
      </div>
    </sui-accordion-panel>
    <sui-accordion-panel>
      <div title>
        <i class="dropdown icon"></i>
        Privacy
      </div>
      <div content>
        <p>Second panel content.</p>
      </div>
    </sui-accordion-panel>
    <sui-accordion-panel>
      <div title>
        <i class="dropdown icon"></i>
        Social Media
      </div>
      <div content>
        <p>Second panel content.</p>
      </div>
    </sui-accordion-panel>
  </sui-accordion>
</div>
<router-outlet></router-outlet>

